
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui'; 
    background-color:#548687;
    height: calc(100vh - 50px);
    
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-titre {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 
  
.photoAccueil{
    justify-content: center;
    display: flex;
    margin: auto auto;
    align-items: center;
    height: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 70%;
}

.columnText {
  flex: 30%;
}

.column > p {
  font-size: 20px;
  
}

.photoStage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 15px;
}

.column > video{
  max-width: 1200px;
  max-height: 600px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.background-image{
  background-image: url("./images/codeAccueil.jpg");
  background-size: cover;
  height: 100%; 
  width: 100%;
  position: absolute;
  z-index: -1;
}

.angularTitre{
  text-align: center;
  font-size: 55px;

}

.Angular{
  width: 550px;
  height: 488px;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
}

span{
  color: #d7668a;
}

.presentationAngular{
  display: flex;
  gap: 10px;
  padding: 0px 10px;
}



